@model FoodModel
<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Id">Food Id</label>
        <input type="number" asp-for="Id" class="form-control" placeholder="Enter Id">
    </div>
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" placeholder="Name">
    </div>
    <div class="form-group">
        <label asp-for="Rating">Rating</label>
        <input asp-for="Rating" class="form-control" placeholder="Rating">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>